<div class="message-index-frame">

  <%= render 'partial/header' %>

  <div class="message-index-container">

    <%= render 'partial/sidebar/index-place-sidebar' %>
    <!--　コンテンツ表示  --> 
    <div class="message-main-contents">
      <div class="message-main-user-info">
        <div class="message-main-image">
          <!--　ユーザーimageを表示 --> 
          <%= image_tag @receive_user.image.to_s %>
        </div>

        <div class="message-main-text">
          <%= @receive_user.name + "さんとのメッセージのやりとり"%>
        </div>

      </div>

      <div class="message-main-content">
      </div>
     
    </div>
  </div>

  <footer class="footer-form">
    <%= form_for(@message, url:message_create_path() , data: { remote: true }) do |form| %>

        <%= form.text_area :body , placeholder: 
        "メッセージ入力してください(200文字まで)", class: "message-body-input" , maxlength:'200'%>

        <div class="message-user-id">
          <%= form.hidden_field :user_id, value: @receive_user.id , class: "message-user-id-input" %>
        </div>

        <div class="message-new-form-submit">
          <%= form.submit value:"送信" , class:"message-new-form-submit-btn" %>
        </div>
      <% end %>
  </footer>
</div>

