<!-- 検索スポットが存在すれば  --> 
<% if @place_indexs.present? %>
    <!-- 無限スクロール用のコード  --> 
    <div class="scroll-list jscroll">
      <% @place_indexs.each do | place_index | %> 
        <div id="delete-<%= place_index.id %>">
          <% if user_signed_in? && place_index.user_id == current_user.id %>　
            <!--　イベント削除モーダルをレンダリング  --> 
            <%= render partial:'places/delete', locals: { place_index: place_index}  %>

            <ul class="index-main-place-btns">
              <a class="place-fa-edit-link">
                <i class="fas fa-edit fa-lg"></i>
              </a>

              <%= link_to "#" ,
              class: 'place-delete-btn-link' , 
              data: {"turbolinks" => false} do %>
                <div class="place-delete-btn">削除</div>
              <% end %>

              <%= link_to edit_place_path(place_index) ,
              class: 'place-edit-btn-link' , 
              data: {"turbolinks" => false} do %>
                <div class="place-edit-btn">編集</div>
              <% end %>
            </ul>
          <% end %>

          <div class="index-main-content">
            <div class="index-main-contens-flame-main">
              <div class="index-main-contens-name">
                場所名：<%= place_index.name %>
              </div>
              
              <div class="index-main-contens-area">
                <%= place_index.area.name %>
              </div>

              <div class="index-main-contens-address">
                <%= place_index.address %>
              </div>

              <!--　リンクをクリックすると別タブでURL立ち上がる  --> 
              <a class="index-main-contens-url-link" 
              href="<%= place_index.url %>" target="_blank" rel="noopener noreferrer">
                <p class="index-main-contens-url">LINK</p>
              </a>

              <!--　placeを持っている駅名を表示  --> 
              <div class="index-main-contens-line">
                最寄駅：<%= place_index.train.name %>◼︎<%= place_index.train.line.name %>
              </div>
            </div>

            <div class="index-main-contens-flame-genre">
              <!--　placeが中間テーブルで結ばれているレコードを取得  --> 
              <!--　ジャンル名をクリックすると詳細に表示  --> 
              <% place_index.genres.each do | genre | %>
                <a class="index-main-contens-genre">
                  <%= genre.name %>
                </a>
              <% end %>
            </div>

            <div class="index-main-contens-flame-place-detail">
              <!--　placeが中間テーブルで結ばれているレコードを取得  --> 
              <div class="index-main-contens-place-detail">
                <%= place_index.place_detail %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
        <!-- 無限スクロール用のコード --> 
        <%= paginate @place_indexs , remote: true %>
    </div>
<% else %>
  <p class="places-message">現在、<%= current_user.name + "さん"%>が投稿した球技スポットはありません</p>
<% end %>
