
<div class="user-search-frame">

  <%= render 'partial/header/header' %>

  <div class="user-search-container">
    <!--　ログインユーザー以外のユーザー情報を渡している  --> 
    <%= render 'partial//sidebar/user-search-sidebar' %>
  
    <!--　コンテンツ表示  --> 
    <div class="user-search-contents">
      <p class="word-result">
        <%= "検索ワード「" + @serach_word + "」でヒットしたユーザー一覧" %>
      </p>

      <div class="search-friends-list">
        <ul class="search-friends-list-inner">
          <div class="index-main-contents-search-check">
            <div class="index-main-contents-search-check-title">
              <p><%= current_user.name%>さんが「スポ友リクエスト」を送信していない「スポ友」</p>
            </div>
          </div>

          <!-- 自分以外のユーザー情報をレンダリング --> 
          <%= render 'users/other_users_index' %>
        </ul>
      </div>
    </div>
  </div>
</div>
