    
<div class="index-main-sidebar">
      <!-- サイドバー上部のリンク集をレンダリング --> 
      <!-- ifログインしていれば --> 
<% if(user_signed_in?) %>
  <%= link_to user_show_match_index_path(current_user.id) ,
  class: 'index-main-sidebar-current-user-link' , 
  data: {"turbolinks" => false} do %>
    <div class="index-main-sidebar-current-user">
      <%= current_user.name + "さんのマイページ" %>
    </div>
  <% end %>
<% else%>
  <%= link_to new_user_session_path , 
  class: 'index-main-sidebar-current-user-link' , 
  data: {"turbolinks" => false} do %>
  <div class="index-main-sidebar-current-user">
    <%= current_user.name + "さんのマイページ" %>
  </div>
  <% end %>
<% end %>

<!-- ifログインしていれば --> 
<% if(user_signed_in?) %>
  <%= link_to user_search_path(current_user.id) , 
  class:"index-main-sidebar-friends-link" ,
  data: {"turbolinks" => false} do %>
  <div class="index-main-sidebar-friends">
    スポ友を探す
  </div>
  <% end %>
<% else %>
  <%= link_to new_user_session_path , 
  class:"index-main-sidebar-friends-link" ,
  data: {"turbolinks" => false} do %>
  <div class="index-main-sidebar-friends">
    スポ友を探す
  </div>
  <% end %>
<% end %>

<!-- ifログインしていれば --> 
<% if(user_signed_in?) %>
  <%= link_to new_place_path() , 
  class:"index-main-sidebar-place-link" ,
  data: {"turbolinks" => false} do %>
  <div class="index-main-sidebar-place">
    球技スポットを投稿
  </div>
  <% end %>
<% else %>
  <%= link_to new_user_session_path , 
  class:"index-main-sidebar-place-link" ,
  data: {"turbolinks" => false} do %>
  <div class="index-main-sidebar-place">
    球技スポットを投稿
  </div>
  <% end %>
<% end %>

<!-- ifログインしていれば --> 
<% if(user_signed_in?) %>
  <!-- ターボリンクを解除している=リンク先でjs効かない為 --> 
  <%= link_to root_path() , 
  class:"index-main-sidebar-place-see-link" ,
  data: {"turbolinks" => false} do %>
    <div class="index-main-sidebar-place-see">
      球技スポットを検索
    </div>
  <% end %>
<% else %>
  <!-- ターボリンクを解除している=リンク先でjs効かない為 --> 
  <%= link_to new_user_session_path , 
  class:"index-main-sidebar-place-see-link" ,
  data: {"turbolinks" => false} do %>
    <div class="index-main-sidebar-place-see">
      球技スポットを検索
    </div>
  <% end %>
<% end %>

<!-- ifログインしていれば --> 
<% if(user_signed_in?) %>
  <%= link_to new_match_path , class: 'index-main-sidebar-match-link' do %>
  <div class="index-main-sidebar-match">
    球技イベントを投稿
  </div>
  <% end %>
<% else %>
  <%= link_to new_user_session_path , 
  class: 'index-main-sidebar-match-link' do %>
  <div class="index-main-sidebar-match">
    球技イベントを投稿
  </div>
  <% end %>
<% end %>

<% if(user_signed_in?) %>
  <!-- ターボリンクを解除している=リンク先でjs効かない為 --> 
  <%= link_to matches_path , class: 'index-main-sidebar-match-see-link' ,
  data: {"turbolinks" => false} do %>
  <div class="index-main-sidebar-match-see">
    球技イベントを検索
  </div>
  <% end %>
<% else %>
  <%= link_to new_user_session_path , 
  class: 'index-main-sidebar-match-see-link' , 
  data: {"turbolinks" => false} do %>
  <div class="index-main-sidebar-match-see">
    球技イベントを検索
  </div>
  <% end %>
<% end %>

</div>
