<div class="match-index-frame">

  <%= render 'partial/header' %>

  <div class="match-index-container">

    <%= render 'partial/sidebar/index-sidebar' %>

    <div class="index-main-contents">
      <div class="index-main-content">
        <div class="index-main-contens-flame-main">
            <% if @match.user_id == current_user.id %>
              <!--　ユーザーimageを表示 --> 
              <%= image_tag current_user.image.to_s %>
              <p class="index-main-contens-toukou">
                <%= link_to "投稿者:" + @match.user.name , user_show_match_index_path(current_user.id) %>
              </p>
            <% else %>
                <!--　ユーザーimageを表示 --> 
               <%= image_tag @match.user.image.to_s %>
               <p class="index-main-contens-toukou">
               
                <%= link_to "投稿者:" + @match.user.name , user_show_match_index_other_path(@match.user.id) %>
              </p>
            <% end %>
              
            <p class="index-main-contens-event">
              イベント内容:<%= @match.name%>
            </p>

            <p class="index-main-contens-schedule">
              開催予定日:<%= @match.day%> <%= @match.time.strftime('%H:%M') %>
            </p>
             
            <p class="index-main-contens-area-name">
              エリア:<%= @match.area.name%>
              <%= @match.area_detail%>
            </p>
        

            <div class="index-main-contens-flame-genre">
              <a class="index-main-contens-genre">
                <%= @match.genre.name %>
              </a>
            </div>
            
            <div class="index-main-contens-flame-event-detail">
              <%= @match.event_detail%>
            </div>

            <div id="entry-<%= @match.id %>">
              <!--　エントリー箇所をレンダリング  --> 
              <%= render partial:'matches/match', locals: { match: @match}  %>
            </div>

            <div class="index-main-contens-flame-count-comment">
              <%= link_to "" , class:   'index-main-contens-entry-comment-count-link' , data: {"turbolinks"   => false} do %>
                      
                <div class="index-main-contens-entry-comment-count">
                <p class="comment-count-number">コメント数：<%= @match.comments.length %></p>
                </div>
              <% end %>

              <%= link_to "" , class: 'index-main-contens-entry-comment-link' ,
              data: {"turbolinks" => false} do %>
                <div class="index-main-contens-entry-comment">コメントする</div>
              <% end %>
            </div>

            <!--　コメント箇所をレンダリング  --> 
            <%= render partial:'comments/comments', locals: { match: @match} %>
          </div>
        </div>

    </div>
  </div>
</div>
